.cv {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 100%;
    flex: 1 1;
}

.cv-cont {
    background-color: white;
    min-height: 1000px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.422);
}
.cv-info {
    background-color: #0e374e;
    color: white;
    min-height: 100px;
    min-width: 100%;
}

.cv-info > .first {
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.cv-p-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cv-p-cont > p {
    font-size: 20px;
    padding: 20px;
}

.cv-edu {
    padding: 80px;
}

.edu-p {
    width: 100%;
    padding: 10px;
    color: #0e374e;
    background-color: rgb(235, 235, 235);
    font-weight: 550;
    font-size: 20px;
    text-align: center;
}

.edu-info {
    display: flex;
    margin-top: 30px;
}

.edu-date {
    flex: 0 0;
    min-width: 100px;
}

.edu-uni-degree > p:nth-child(1) {
    font-weight:600;
}

.edu-uni-degree > p:nth-child(2) {
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
}

.fa-solid {
    margin-right: 10px;
}