section.education-form {
    padding: 23px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
}

section.education-form > form {
    display: flex;
    flex-direction: column;
}

.education {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.button-cont > button {
    background-color: white;
    border-radius: 20px;
    border: 4px solid rgb(215, 215, 215);
    min-width: 110px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-height: 100px;
}

#button-i {
    font-size: 20px;
}

.education-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgb(238, 238, 238);
    min-height: 40px;
    font-size: 18px;
    font-weight: 550;
    
}

.last-div {
    border-bottom: 5px solid rgb(238, 238, 238);
}

.education-h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.education-inner-cont {
    position: relative;
}

.buttons-save-del-cont {
    position: relative;
}

#delete {
    border: 1px solid rgb(98, 98, 98);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: rgb(114, 114, 114);
    font-weight: 550;
}

#save {
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #187ff5;
    color: white;
    font-weight: 550;
    font-size: 14px;
    position: absolute;
    right: 0;
}